html {
  background: url(../images/headoffice.jpg.jpg) repeat;
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 background-size: cover; */
}	


body {
    background: transparent;/* url(../images/tinymark.png) repeat; */ 
	min-height:100%;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
	padding-top: 65px;
	padding-bottom: 70px;
	color: #474747;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-logo{
	 text-align: center;
	 padding: 10px 0 10px;
}

.login-logo img{
	border:0;
	display: inline-block;
}
.seldat {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #2da676;
  border-radius: 4px;
}


/* haldul */
.haldul {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.haldul h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

.haldul span {
  font-size: 18px;
}
.haldul span .fa {
  color: #35e5af;
}
.haldul span a {
  color: #35e5af;
  font-weight: 600;
  text-decoration: none;
}


/* Form Module */
.form-module {
  position: relative;
  background: rgba(72, 128, 85, 0.75);
  max-width: 300px;
  text-align: center;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  border-top: 5px solid #fca903; /* garis atas */
  border-bottom: 5px solid #fca903; /* garis bawah */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #35e5af;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #35e5af;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 20px 20px 20px 20px;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #2ebd91;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #35e5af; /* 2ebd91 33b5e5 */
  width: 100%;
  border: 0;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #1f906e; /* 178ab4 */
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}
.halki {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.halki span {
  font-size: 18px;
  font-weight: bold;
}
#layanan, #about, #contact
    {
        padding-top: 160px;
        padding-bottom: 160px;
        position: relative;
    }
/* start nagivation */
.navbar-default
    {
        background: rgba(255, 255, 255, 0.08);
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0 !important;
        padding: 0;
    }
.navbar-default .navbar-brand
    {
        padding: 4px;

    }
.navbar-default .navbar-nav li a
    {
		color:#474747;
        font-size: 15px;
        font-weight: bold;
        line-height: 35px;
    }
.navbar-default .navbar-nav li a:hover
    {
        color: #35e5af;
    }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #35e5af;
  background-color: transparent;
}
.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 11px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #35e5af;
        border-color: transparent;
    }
.navbar-default .navbar-toggle a:hover,
.navbar-default .navbar-toggle a:focus { background: #fff; /*background-color: transparent*/ }
/* end navigation */

/* awal layanan */
#layanan {
	/* background: url('../images/abstract2.png'); */
	background:rgba(255, 255, 255, 0.75);
	background-size: cover;
}
#layanan .media
    {
		padding: 10px;
    }
#layanan .media .fa
    {
        color: #202020;
        font-size: 30px;
        margin-right: 20px;
    }
#layanan .media .media-heading
    {
        border-bottom: 2px solid #202020;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* akhir layanan */

/* awal about */
#about{
	background:rgba(130, 130, 130, 0.75);
	background-size: cover;
}

#about h3
    {
        color: #35e5af; /* 93ca3a */
        font-size: 40px;
        padding-bottom: 10px;
    }
#about h4
    {
		font-weight: bold;
		color: #fff;
        font-size: 20px;
		padding-bottom: 10px;
    }

#about p
    {
		color: #fff;
        font-size: 16px;
		padding-bottom: 6px;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 6px;
    }
#about .progress .progress-bar-danger
    {
        background: #35e5af;
    }
#about .text-top
    {
		
        padding-top: 50px;
    }
#about span
    {
        display: block;
		color: #fff;
        padding-bottom: 10px;
    }
#about small
    {
        font-weight: bold;
        padding-left: 200px;
    }
/* akhir about */



/* awal contact */
#contact
    {
        /* background: url('../images/abstract1.jpg'); */
		background:rgba(0, 0, 0, 0.85);
        background-size: cover; 
        background-repeat: no-repeat;
        color: #ffffff;
    }
#contact h3
    {
        font-weight: bold;
		font-size: 16px;
        padding-bottom: 20px;
    }
#contact .fa
    {
        color: #2ebd91;
        font-size: 18px;
        padding-bottom: 14px;
    }
#contact .form-control
    {
        background: #f2f2f2;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        color: #2ebd91;
        font-weight: bold;
        margin-bottom: 80px;
    }
#contact input[type="submit"]:hover
    {
        background: #1f906e;
    }
 #contact .form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
  color: #666;
}
#contact .form-control::-webkit-input-placeholder {
  color: #666;
}
/* akhir contact */

/* awal social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
        top: 20px;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        color: #333;
        font-size: 13px;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon li a:hover
    {
        background: #f2f2f2;
    }
/* akhir social icon */





