html {
  background: url(../images/headoffice.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	


body {
    background: transparent;  /* url(../images/tinymark.png) repeat; */
	min-height:100%;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
	padding-top: 65px;
	padding-bottom: 70px;
	color: #474747;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #fff;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #fff;	}
}

.blinkred{
	animation:blinkingText 1.25s infinite;
}
@keyframes blinkingText{
	0%{		color: #ff0000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #ff0000;	}
}


